<h2 align="center">All Alpha-bloggers </h2>

<div align="center">
<% @users.each do |user| %>

    <ul class="listing">
        <div class="row">
            <div class="well col-sm-4 col-sm-offset-4">
                <li><%=  link_to gravatar_for(user), user_path(user) %></li>
                <li clss="article-title">
                    <%= link_to user.username, user_path(user) %>
                </li>
                <li><small><%= pluralize(user.articles.count, "articles") if user.articles%></small></li>
                <% if logged_in? && current_user.admin? %>
                    <li>
                        <%= link_to "Delete this user", user_path(user), method: :delete,
                            data: { confirm: "Deleting a use will also delete all the user's articles. Are you sure to proceed? "} %>
                    </li>
                <% end %>
            </div>
        </div>
    </ul>
<% end %>
</div>
