$navbar-default-bg: #ECF0F1;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #909497;
}
.center{
    text-align: center;
}
.jumbotron{
    background-image: asset-url('cover-img.jpg');
    background-size: cover;
    height: 550px;
    margin-top: 50px;
}
.jumbotron h1{
    color: #6E2C00;
    margin-top: 80px;
    font-weight: 500;
    letter-spacing: 0.1em
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #EDBB99;

}
footer a:hoover{
    color: #EDBB99;

}
footer small {
    float: left;
}
footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}
.article-actions {
    border-top: 1px solid rgb(222, 225, 226);
    padding-top: 5px;
}
.description {
    margin-top: 0px;
}
.article-title {
    font-weight: bold;
    font-size: 1.5em;
}
.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
