<div class="container">
<footer class="footer">
    <small>
        Copyright &copy; Alem's Ruby on Rails first project
    </small>
    <nav>
        <ul>
            <li> <%= link_to "About", about_path %> </li>
        </ul>
    </nav>
</footer>

</div>
